.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main-container {
    padding: 20px;
    text-align: center;
    min-height: 400px;   /* 기본 높이 */
    height: auto;        /* 내용만큼 자동 증가 */
} 